<div id="main-div">
	<div class="home-main-content">
		<h2>About The Artist Connection</h2>
		<div id="about-p-tags">
			<p>The Artist Connection was created out of necessity. In today's digital age, it's easy to get lost in the crowd of artists looking to attain success. Our company was founded in the belief that the easiest way to stand out is by continuously improving your sound, and that is most easily achieved by having the outside opinions of industry professionals provide honest feedback.</p>
			<p>Since the inception of our company, we've helped artists fine-tune their sound and help connect them to other industry professionals, leading to collaborations with other artists, performing as opening acts on national tours, and even label signings. Our staff is comprised of a combination of award-winning musical talent and successful music industry entreprenurs who believe in helping real talent acheive the success they deserve. </p>
		</div>
		<h2 id="contact-our-team">Contact Our Team</h2>
		<div id="session-contact-form-div">
			<form action="/about" method="get">
				<p><label>Name: </label><input type="text" name="name"></p>
				<p><label>Email: </label><input type="text" name="email"></p>
				<p><label>Phone Number: </label><input type="text" name="phone_number"></p>
				<p><label>Message: </label></p><textarea name="message"></textarea>
				<button id="contact-form-button">Send Message</button>
			</form>
		</div>
	</div>
</div>
<div id="side-div">
		<%= render :partial => "partials/button_bar" %>
</div>














	