
<div id="services-picture-div">
	<h1>Receive Quality Music Advice from Tenured Industry Veterans</h1>
</div>

<div class="services-you-us">
	<h2>What We Can Do For You</h2>
	<p>Have a seasoned vet help you develop your sound. Our award-winning staff has over 40 years of experience and can help take your music career to the next level. We work with artists of all genres and backgrounds and provide clear, specfic advice to all of our customers.</p>
	<p>Artists can submit their songs on our website and receive personalized advice at a phenominal value. Every time you submit a song, you will receive in return:</p>
	<ul>
		<li>One (1) Professional Song Critique & Descriptive Feedback per Song Submitted</li>
		<li>One (1) Guaranteed Index Referral</li>
	</ul>
	<p>Our current collection of index referrals spans across several different industries and practices, including, but not limited to:</p>
	<ul>
		<li>Business consultants</li>
		<li>A&Rs</li>
		<li>Music publishers</li>
		<li>Licensing executives</li>
		<li>Advertising agents</li>
		<li>Bloggers</li>
		<li>Journalists</li>
		<li>Culinary specialists</li>
		<li>Publicists</li>
	</ul> 
</div>

<div id="services-artists">
	<h2>Artists We've Worked With</h2>
	<div class="services-artist-div">
		<img src="https://i1.sndcdn.com/avatars-000173677153-yo5vot-t500x500.jpg">
		<h3>Roxanne Montana</h3>
	</div>
	<div class="services-artist-div">
		<img src="http://ar-report.com/wp-content/uploads/2015/10/Courtlin-Jabrae.jpg">
		<h3>Courtlin Jabrae</h3>
	</div>
	<div class="services-artist-div">
		<img src="https://i1.sndcdn.com/avatars-000207932472-zjmpdc-t500x500.jpg">
		<h3>Laci Kay</h3>
	</div>
	<div class="services-artist-div">
		<img src="https://i1.sndcdn.com/avatars-000069038365-m8vsoa-t500x500.jpg">
		<h3>MrLightUpp</h3>
	</div>
	<div class="services-artist-div">
		<img src="https://i1.sndcdn.com/avatars-000163638065-b4ug6r-t500x500.jpg">
		<h3>LORIN</h3>
	</div>
	<div class="services-artist-div">
		<img src="https://i1.sndcdn.com/avatars-000233493806-1wlhd5-t500x500.jpg">
		<h3>Boss Carrot</h3>
	</div>
</div>

<div class="services-you-us">
	<h2>What You Give Us</h2>
	<p>Have a seasoned vet help you develop your sound. Our award-winning staff has over 40 years of experience and can help take your music career to the next level. We work with artists of all genres and backgrounds and provide clear, specfic advice to all of our customers.</p>
	<p>Artists can submit their songs on our website and receive personalized advice at a phenominal value. Every time you submit a song, you will receive in return:</p>
	<ul>
		<li>One (1) Professional Song Critique & Descriptive Feedback per Song Submitted</li>
		<li>One (1) Guaranteed Index Referral</li>
	</ul>
	<p>Our current collection of index referrals spans across several different industries and practices, including, but not limited to:</p>
	<ul>
		<li>Business consultants</li>
		<li>A&Rs</li>
		<li>Music publishers</li>
		<li>Licensing executives</li>
		<li>Advertising agents</li>
		<li>Bloggers</li>
		<li>Journalists</li>
		<li>Culinary specialists</li>
		<li>Publicists</li>
	</ul> 
</div>




