<h2>Chance The Rapper</h2>
<p>Artist Description Goes Here</p>
<p>Email: chanceraps@email.com</p>
<div id='artist-pic-div'>
	<img src='http://media.gq.com/photos/574f32d03af5049636319e2e/master/pass/chance-the-rapper-boots-gq-0115-5.jpg'>
</div>
<div id='artist-info-div'>
	<p id='follow-artist-title'>Follow This Artist</p>
	<ul id='follow-artist-list'>
		<li><a href=''>Facebook</a></li>
		<li><a href=''>Twitter</a></li>
		<br>
		<li><a href=''>Instagram</a></li>
		<li><a href=''>Soundcloud</a></li>
	</ul>
</div>
<div id='artist-songs-div'>
	<table>
	<thead>
			<tr>
				<th></th>
				<th><span>Song</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>#</td>
				<td><span>No Problem</span></td>
			</tr>
			<tr>
				<td>#</td>
				<td><span>Cocoa Butter Kisses</span></td>
			</tr>
			<tr>
				<td>#</td>
				<td><span>Same Drugs</span></td>
			</tr>
			<tr>
				<td>#</td>
				<td><span>All We Got</span></td>
			</tr>
			<tr>
				<td>#</td>
				<td><span>Chain Smoker</span></td>
			</tr>
		</tbody>
	</table>
</div>
<ul id='artist-page'>
	<li><--</li>
	<li id='page-num'>1</li>
	<li>--></li>
</ul>