<div id='button-bar'>
	<h1 class='header-text'>Ready to Take Your Career Seriously?</h1>
	<h2>Get Featured In Our Artist Portal</h2>
	<button class='popup-click header-text' data-alt-src='/new_submit'>SUBMIT YOUR SONGS</button>
</div>