<div id='header'>
	<div id="head-text">
		<h1>Label Research</h1>
		<h3>Your Music Reviewed by the Best A&Rs in LA</h3>
	</div>
	<ul>
		<a href='/'><li>Home</li></a>
		<a href='/songs/index'><li>Portal</li></a>
		<a href='/about'><li>Contact</li></a>
		<% if session[:user_id] %>
			<a href='/profile'><li>My Profile</li></a>
			<a href='/logout'><li id='logout'>Log Out</li></a>
		<% else %>
			<li id='login' class='popup-click' data-alt-src='/login_popup_header'>Log In</li>
		<% end %>
	</ul>
</div>