<div id='login-div'>
	<button class='close'>X</button>
	<h1 class='form-header'>Login</h1>
	<% if flash[:login_error] %>
		<p style="color:red; font-size:0.8em;"><%=flash[:login_error]%></p>
	<% end %>
	<form action='/login' method='post' class='no-file'>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<div class='log-row'><label>Email:</label><input type='text' name='email'></div>
		<div class='log-row'><label>Password:</label><input type='password' name='password'></div>
		<button>Login</button>
	</form>
	<span id='log-to-reg' class='popup-click' data-alt-src='/new_submit'>Don't Have An Account? Register</span>
</div>