<div id='song-qty-div'>
	<button class='close'>X</button>
	<h1>How Many Songs Would You Like to Submit?</h1>
	<button class='qty-btns' data-alt-src='/songs/new/1'><h1>1 Song</h1><h2>$8.00</h2></button>
	<button class='qty-btns' data-alt-src='/songs/new/2'><h1>2 Songs</h1><h2>$10.00</h2></button>
	<button class='qty-btns' data-alt-src='/songs/new/3'><h1>3 Songs</h1><h2>$15.00</h2></button>
	<br>
	<button class='qty-btns' data-alt-src='/songs/new/4'><h1>4 Songs</h1><h2>$20.00</h2></button>
	<button class='qty-btns' data-alt-src='/songs/new/5'><h1>5 Songs</h1><h2>$25.00</h2></button>
</div>