<div id='song-info-div'>
	<h1>Hercules</h1>
	<div id='song-info-left'>
	<p>Key: Sumtin</p>
	<p>Genre: Hip-Hop</p>
	</div>
	<div id='song-info-right'>
	<p>BPM: 110</p>
	<p>Rating: 55555</p>
	</div>
	<p>Analysis: Goes Here</p>
</div>
<div id='references-div'>
	<p>References</p>
	<ul>
		<li>Producer
			<ul>
				<li>Name: Kanye West</li>
				<li>Phone: (555)-555-5555</li>
				<li>Email: yeezy@email.com</li>
			</ul>
		<li>Talent Scout
			<ul>
				<li>Name: Dom Garaventa</li>
				<li>Phone: (555)-555-5555</li>
				<li>Email: DGEEZY@email.com</li>
			</ul>
	</li>
</div>