<div id='upload-pic-div'>
	<span class='close'>X</span>
	<%= form_for @user, :url => '/users/update_pic', :html => {:multipart => true} do |f| %>
	<input type='hidden' name='file_checker' id='file_checker' value='true'>
	<p><label for='user[picture]'>Picture</label>
	<%= f.file_field :picture %></p>
	<button>Upload Picture</button>
	<% end %>
</div>