<div class='upload-file-div'>
	<button class='close'>X</button>
	<h1 class='form-header'><%=@song.name%></h1>
	<%= form_for @song, :url => "/songs/update_audio/#{@song.id}", :html => {:multipart => true} do |f| %>
	<input type='hidden' name='file_checker' id='file_checker' value='true'>
	<p><label for='song[audio_file]'>Audio File</label>
	<%= f.file_field :audio_file %></p>
	<button>Upload Song</button>
	<% end %>
</div>