<div id='popup'></div>
<div id='container'>
	<div id='sidebar'></div>
	<%= render :partial => "partials/button_bar" %>
	<%= render :partial => "partials/header" %>

	<div id='main-div'>
		<div id='public-songs-div'>
			<h3>Top Reviewed Songs</h3>
			<div id='search-div'>
				<form action='' method='get' id='search-form'>
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type='text' name='artist-song' placeholder="Search">
					<select name='genre'>
						<option value='' selected disabled>Genre</option>
						<option value='1'>Hip-Hop</option>
						<option value='2'>R&B</option>
						<option value='3'>EDM</option>
						<option value='4'>Nonsense</option>
						<option value='5'>Any Genre</option>
					</select>
				</form>
				<ul id='search-page'>
					<li><--</li>
					<li id='page-num'>1</li>
					<li>--></li>
				</ul>
			</div>
				<table>
					<thead>
						<tr>
							<th><span></span></th>
							<th><span>Artist</span></th>
							<th><span>Song</span></th>
							<th><span>Genre</span></th>
						</tr>
					</thead>
					<tbody>
						<tr class='artist-row' id='this-row'>
							<td><span>#</span></td>
							<td><span>Chance The Rapper</td>
							<td><span>No Problem</span></td>
							<td><span>Hip-Hop</span></td>
						</tr>
						<tr class='artist-row'>
							<td><span>#</span></td>
							<td><span>Drake</span></td>
							<td><span>Faithful</span></td>
							<td><span>Hip-Hop/R&B</span></td>
						</tr>
						<tr class='artist-row'>
							<td><span>#</span></td>
							<td><span>PartyNextDoor</span></td>
							<td><span>1942</span></td>
							<td><span>R&B</span></td>
						</tr>
						<tr class='artist-row'>
							<td><span>#</span></td>
							<td><span>Trippy Turtle</span></td>
							<td><span>Some Song Dom Likes</span></td>
							<td><span>EDM</span></td>
						</tr>
						<tr class='artist-row'>
							<td><span>#</span></td>
							<td><span>Kygo</span></td>
							<td><span>Younger</span></td>
							<td><span>Tropical House</span></td>
						</tr>
					</tbody>
				</table>
		</div>

		<div id='user-songs-div'>
			<h3>Your Songs</h3>
			<table>
				<thead>
					<tr>
						<th><span>Song</span></th>
						<th><span>Genre</span></th>
						<th><span>Availability</span></th>
						<th><span>Rating</span></th>
					</tr>
				</thead>
				<tbody>
					<tr class='song-row'>
						<td><span>Hercules</span></td>
						<td><span>Hip-Hop</span></td>
						<td class='availibility'><span>Public</span></td>
						<td><span>5 stars</span></td>
					</tr>
					<tr class='song-row'>
						<td><span>With That</span></td>
						<td><span>Hip-Hop</span></td>
						<td class='availibility'><span>Public</span></td>
						<td><span>5 stars</span></td>
					</tr>
					<tr class='song-row'>
						<td><span>Thief in the Night</span></td>
						<td><span>Hip-Hop</span></td>
						<td class='availibility'><span>Public</span></td>
						<td><span>5 stars</span></td>
					</tr>
					<tr class='song-row'>
						<td><span>Best Friend</span></td>
						<td><span>Hip-Hop</span></td>
						<td class='availibility'><span>Public</span></td>
						<td><span>5 stars</span></td>
					</tr>
					<tr class='song-row'>
						<td><span>Quarterback</span></td>
						<td><span>Hip-Hop</span></td>
						<td class='availibility'><span>Private</span></td>
						<td><span>3 stars</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<%= render :partial => "partials/playbar" %>
</div>