<div id='main-div'>
	<div id='top-songs-div'>
		<%= render :partial => "partials/top_songs" %>
	</div>

	<div id='user-songs-div'>
	<% if @user_songs %>
		<%= render :partial => "partials/user_songs" %>
	<% end %>
	</div>
</div>