/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	background-color: silver;
	color: white;
	background-image: url("future.jpg");
	background-size: fill;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
table{
	color: navy;
}
td span{
	white-space: nowrap;
	text-overflow: ellipsis;
}
span:hover,h3:hover,p:hover,li:hover{
	cursor:default;
}
a:hover{
	cursor:default;
}
.song-row, .artist-row{
	border: 1px solid none;
}
.song-row:hover, .artist-row:hover{
	color: white;
}
#container{
	height: 100%;
	/*font-family: Futura, “Trebuchet MS”, Arial, sans-serif;*/
}
#sidebar{
	display: inline-block;
	width: 30%;
	overflow: scroll;
	text-align: center;
	vertical-align: top;
	position: fixed;
	right: 0;
	top: 6em;
	color: white;
}
#sidebar table{
	font-size: 0.8em;
}
#main-div{
	display: inline-block;
	width: 60%;
	margin: 6em  10%;
	text-align: center;
	z-index: 1;
}
#popup{
	text-align: center;
	display: none;
	z-index: 1;
	padding-top: 10%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
	color: navy;
}
.close{
	float: right;
	border: 1px solid red;
	border-radius: 5px;
	color: red;
	padding: 1%;
	font-weight: normal;
}
.close:hover{
	font-weight: bold;
	cursor: pointer;
	border: 2px solid red;
}

#login-div, #song-qty-div, #register-div, #new-song-div, #success-div, #upload-pic-div, #upload-song-div{
	display: inline-block;
	border: 4px solid skyblue;
	border-radius: 1em;
	text-align: center;
	padding: 1%;
	background-color:white;
}
.error input, .error textarea{
	border-color: red;
}
.file-error{
	border: 1px solid red;
	padding: 1%;
}