#artist-info-sidebar{
	background-color: rgba(0,0,0,0.7);
	width: 95%;
	margin: 0 auto;
	padding: 1em 0;
	border-radius: 1em;
}
#artist-info-sidebar #artist-pic-div, #artist-info-sidebar #artist-info-div{
	width: 50%;
}
#artist-info-sidebar p{
	margin: 0;
}
#artist-info-sidebar h2{
	margin-top: 1em;
	margin-bottom: 1%;
}
#artist-info-sidebar h4{
	text-decoration: underline;
	margin-bottom: 0;
}
#artist-contact-email{
	color: royalblue;
	margin-bottom: 1em;
}