#artist-info-sidebar{
	width: 90%;
	margin: 0 auto;
}
#artist-show-pic-div{
	width: 80%;
	margin: 0 auto;
}
#artist-show-pic-div img{
	width: 100%;
	border-radius: 1em;
}
#artist-info-sidebar p{
	margin: 0;
}
#artist-info-sidebar h2{
	margin-bottom: 1%;
}
#artist-info-sidebar h4{
	text-decoration: underline;
	margin-bottom: 0;
	margin-top: 0.5em;
}
#sidebar table{
	font-size: 0.9em;
}
#artist-info-sidebar #artist-info-div{
	width: 100%;
}
#artist-contact-email{
	color: royalblue;
}