#audio-upload-main-div{
  text-align: center;
}
#audio-upload-main-div h1{
  width: 90%;
  border-bottom: 2px solid black;
}
.audio-upload-div{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.audio-upload-div span{
  font-weight: bold;
  display: block;
  margin: 0;
}
.audio-upload-div p{
  margin: 0;
  margin-top: 1em;
}
.audio-upload-div button{
  border:none;
  color: white;
  border-radius: 5px;
  width: 30%;
  margin: 0;
  margin-top: 0.5em;
  padding:0.5em;
  display: inline-block;
  background: linear-gradient(#e60000, #990000);
}
.audio-upload-div button:hover{
  background: linear-gradient(#990000. #e60000);
}
.audio-upload-half-div{
  width: 49%;
  display: inline-block;
}
