#button-bar{
	display: block;
	width: 50%;
	margin: 0;
	vertical-align:top;
	position: fixed;
	text-align: center;
	top: 6em;
	left: 25%;
	z-index: 1;
}
#button-bar button{
	display: inline-block;
	width: 95%;
	height: 50%;
	font-size: 1.2em;
	border: 3px solid skyblue;
	border-radius: 1em;
	background-color: royalblue;
	color: white;
}
#button-bar button:hover{
	cursor: pointer;
	background-color:skyblue;
	border: 5px solid royalblue;
}