#button-bar{
	display: inline-block;
	width: 100%;
	margin-left: 2.5%;
	margin-top: 1em;
	vertical-align:top;
	text-align: center;
	z-index: 1;
}
#button-bar button{
	display: inline-block;
	width: 95%;
	height: 10vw;
	font-size: 2em;
	border: 0.5em ridge skyblue;
	border-radius: 10px;
	background-color: black;
	color: skyblue;
}
#button-bar button:hover{
	cursor: pointer;
	background-color: black;
	border: 0.5em groove skyblue;
	color: white;
}