#header{
	width: 80%;
	height: 2em;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	position: fixed;
	top: 0;
	left: 10%;
	color: black;
	z-index: 1;
}
#header ul{
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#header li{
	padding:0.5em 1em;
	font-size: 1em;
	display: inline-block;
}
#header a{
	text-decoration: none;
	color: white;
}
.icon {
	display: none;
}
#header li:hover{
	cursor: default;
	background-color: dimgrey;
}
#head-text{
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	text-align: left;
}
#head-text h1, #head-text h3{
	margin: 0;
	padding-top: 0.3em;
}
#head-text h3{
	float: left;
	padding-top: .3em;
}
#head-text h3{
	float: left;
}

@media all and (max-width: 1100px){
	
	#MyTopnav {
		display: none;
		top: 2.5em;
		right: 10%;
		width: 30%;
		position: fixed;
	}
	#MyTopnav li{
		display: block;
	}
	#header h3{
		display: none;
	}
	.icon {
		display: inline;
		position: fixed;
		top: 0.3em;
		right: 10%;
	}
}








