#login-div{
}
#login-div h3{
	display: block;
	text-align:left;
	padding: 0;
	margin: 0;
}
#login-div form{
	text-align: left;
}
.log-row{
	margin: 1em;
	margin-left: 0;
}
.log-row label{
	display: block;
	font-weight: bold;
}
.log-row input{
	width: 90%;
	border: 1px solid grey;
	border-radius: 5px;
	padding:0.5em;
}
#log-to-reg{
	font-size: 0.7em;
	float: left;
	color: royalblue;
}
#log-to-reg:hover{
	font-weight: bold;
	cursor:pointer;
}