#login-div{
}
#login-div h3{
	display: block;
	text-align:left;
	padding: 0;
	margin: 0;
}
#login-div form{
	text-align: left;
}
.log-row{
	margin: 1em;
	margin-left: 0;
}
.log-row label{
	display: block;

}
.log-row input{
	width: 90%;
	border: 1px solid grey;
	border-radius: 5px;
	padding:0.5em;
}
#log-to-reg{
	font-size: 0.7em;
	float: left;
	color: #e60000;
	letter-spacing: 0.1em;
}
#log-to-reg:hover{
	font-weight: bold;
	cursor:pointer;
}
#login-div button:last-child{
	border: none;
	padding: 0.4em;
	color: white;
	border-radius: 5px;
	background: linear-gradient(#e60000, #990000);
}
#login-div button:last-child:hover{
	background: linear-gradient(#990000 ,#e60000);
}
