#new-song-div{
	padding: 2%;
	max-height: 60%;
	overflow: scroll;
	vertical-align: top;
}
.new-song-form, .song-complete-div{
	display: inline-block;
	padding: 0.5em 1em;
	width: 42%;
	vertical-align: top;
}
.song-input-row-1{
	text-align: left;
	margin: 1%;
}
.song-input-row-1 label{
	display: block;
}
.song-input-row-1 input{
	width: 90%;
	padding: 0.5em;
	border: 1px solid grey;
	border-radius: 5px;
}
.song-input-row-2{
	width: 49%;
	display: inline-block;
	text-align: left;
	margin: 1% 0;
}
.song-input-row-2 label{
	display: block;
}
.song-input-row-2 input{
	padding: 0.5em;
	border: 1px solid grey;
	border-radius: 5px;
	width: 50%;
}
#song-input-third-row{
	width: 100%;
}
.song-input-row-3{
	display: inline-block;
	width: 49%;
	text-align: left;
	margin: 1% 0;
}
.song-input-row-3 label{
	display: block;
}
.song-input-row-3 select{
	width: 60%;
}
.new-song-form button{
	padding: 0.5em;
	border-radius: 1em;
	border: none;
	background: linear-gradient(steelblue, #0099ff);
	color: white;
}
.new-song-form button:hover{
	background: linear-gradient(#0099ff, steelblue);
}
.song-complete-div span{
	display: block;
}
.song-info-bold{
	font-weight: bold;
	line-height: 2em;
}
#end-song-form-btn{
	width: 50%;
	padding: 0.5em;
	border: none;
	border-radius: 1em;
	background: linear-gradient(skyblue, #0099ff);
	color: black;
	font-weight: bold;
	font-size: 0.8em;
}
#end-song-form-btn:hover{
	background: linear-gradient(#0099ff, skyblue);
	color: white;
}
#one-song-form{
	width: 90%;
}
#back-btn{
	display: block;
	text-align: left; 
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: dimgrey;
	color: white;
	padding: 0.2em;
}
#back-btn:hover{
	color: #ffcc33;
	border: 1px solid #ffcc33;
}