#song-qty-div{
	text-align: center;
}
.qty-btns{
	width: 30%;
	text-align: center;
	margin: 1%;
	border: 5px solid white;
	color: white;
	background-color: black;
}
.qty-btns:hover{
	border: 5px solid #ef0000;
}
