// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-main-content {  
	margin: .5% auto;
	width: 80%;
	padding: 0% 10%;
	opacity: .9;
	color: black;
	display: inline-block;
	font-family: 'Rokkitt', serif;
	text-align: center;
}
	.home-main-content h2{
		font-size: 2.25em;
		font-weight: bold;
		text-decoration: underline;
		margin-bottom: 10%;
		color: #e60000;
	}
	.home-main-content p{
		font-size: 1.35em;
		margin-bottom: 3%;
		line-height: 110%;
	}
	.home-main-content input{
		text-align: center;
		float: right;
	}
#contact-our-team {
	margin-top: 15%;
}
#session-contact-form-div {
	text-align: left;
	display: inline-block;
	padding: 1%;
}
	#session-contact-form-div label {
		padding-right: 2%;
	}
	#session-contact-form-div textarea {
	width: 100%;
	height: 10em;
	font-size: 1.1em;
	}
	#session-contact-form-div input {
		font-size: 1em;
	}
	#session-contact-form-div button {
		font-size: 1em;
		margin-left: 35%;
		margin-top: 2%;
	}

#contact-form-button {
	font-size: 1em;
	padding: 2%;
	color: white;
	background-color: #e60000;
	border: none;
}
#about-p-tags {
	text-align: center;
	align: justify-content;
}







