#social-media-div label{
  text-align: left;
  display: block;
  font-weight: bold;
}
#social-media-div input{
  display: block;
  border: 1px solid grey;
  border-radius: 5px;
  height: 1.5em;
  width: 80%;
}
#social-media-div button:last-child{
	padding: 0.5em;
	border-radius: 1em;
	border: none;
	background: linear-gradient(steelblue, #0099ff);
	color: white;
	margin-top: 0.5em;
}
#social-media-div button:last-child:hover{
	background: linear-gradient(#0099ff, steelblue);
}