#song-div{
	animation-name: sidebar_show;
	animation-duration: 1.5s;
}
#song-edit-div{
  	width: 75%;
	margin: 0 auto;
	text-align: left;
}
#song-div h1{
	margin-bottom: 0.5em;
	border-bottom: 2px solid black;
	width: 76%;
	margin: 0.5em auto;
}
#song-edit-div h2{
	margin-top: 0;
}
#song-edit-div div{
	width: 49%;
	display: inline-block;
	margin: 0;
}
#song-edit-div span{
	display: block;
	font-weight: bold;
}
#song-edit-div p{
	margin: 0;
	margin-bottom: 1em;
}
#song-edit-div input{
	display: none;
	text-align: center;
	width: 80%;
	border: 1px solid grey;
	border-radius: 5px;
}
#song-edit-div select{
	display: none;
	width: 80%;
}
#song-edit-div h2 input{
	font-size: 0.8em;
}
#song-div button{
	width: 60%;
	height: 2.5em;
	background-color: black;
	border: 1px solid skyblue;
	color: white;
	border-radius: 5px;
}

#song-div button:hover{
	cursor: pointer;
}
