#song-div{
	animation-name: sidebar_show;
	animation-duration: 1.5s;
	width: 80%;
	margin: 1em auto;
	border: 3px solid black;
}
#song-edit-div{
	margin: 0 auto;
	text-align: center;
}
#song-div h1{
	border-bottom: 2px solid black;
	margin: 0.2em auto;
}
#song-edit-div h2{
	margin: 0.5em auto;
}
#song-edit-div div{
	width: 49%;
	display: inline-block;
	margin: 0;
}
#song-edit-div span{
	display: block;
	font-weight: bold;
}
#song-edit-div p{
	margin: 0;
	margin-bottom: 1em;
}
#song-edit-div input{
	display: none;
	text-align: center;
	width: 80%;
	border: 1px solid grey;
	border-radius: 5px;
}
#song-edit-div select{
	display: none;
	width: 80%;
}
#song-edit-div h2 input{
	font-size: 0.8em;
}
#song-div button{
	padding: 0.3em;
	border-radius: 0.5em;
	border: none;
	background: linear-gradient(dimgrey, black);
	background-color: black;
	color: white;
	margin-bottom: 1em;
}
#song-div button:hover{
	color: #0099ff;
}
