#top-songs-div table{
	border-collapse: collapse;
	width: 100%;
}
#top-songs-div td, th{
	/*border-right: 1px solid white;*/
	padding: 0.5em;
}
#top-songs-div td:last-child, th:last-child{
	border-right: none;
}
#top-songs-div th{
	background-color: skyblue;
	color: white;
}
#top-songs-div tr:nth-child(odd){
	background-color: lightblue;
}
#top-songs-div tr:nth-child(even){
	background-color: powderblue;
}
#search-div{
	text-align: left;
}