.upload-file-div button:last-child{
	padding: 0.5em;
	border-radius: 1em;
	border: none;
	background: linear-gradient(steelblue, #0099ff);
	color: white;
	margin-top: 0.5em;
}
.upload-file-div button:last-child:hover{
	background: linear-gradient(#0099ff, steelblue);
}