#artist-pic-div{
	width: 25%;
	margin: 1%;
	display: inline-block;
	vertical-align: bottom;
}
#artist-pic-div img{
	display: inline-block;
	width: 100%;
	border-radius: 10%;
}
#artist-info-div{
	width: 60%;
	display: inline-block;
	margin: 1%;
	text-align: center;
	vertical-align: top;
}
#follow-artist-title{
	margin-bottom: 0;
}
#artist-info-div ul{
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}
#artist-info-div li{
	display:inline-block;
	margin: 0 1%;
}
#artist-info-div a{
	color: royalblue;
}
#artist-songs-div table{
	border-collapse: collapse;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	color: navy;
}
#artist-songs-div td, th{
	padding: 0.5em;
}
#artist-songs-div td:last-child, th:last-child{
	border-right: none;
}
#artist-songs-div th{
	background-color: skyblue;
	color: white;
}
#artist-songs-div tr:nth-child(odd){
	background-color: lightblue;
}
#artist-songs-div tr:nth-child(even){
	background-color: powderblue;
}
.pending{
	font-size: 0.8em;
}