#artist-pic-div{
	width: 30%;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5%;
}
#artist-name{
	border-bottom: 2px solid black;
	text-align: left;
	padding: 0;
	width: 90%;
	margin: 0 auto;
}
#artist-pic-div img{
	display: inline-block;
	width: 100%;
	height: 12em;
	border-radius: 10%;
}
#artist-info-div{
	width: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
#follow-artist-title{
	margin-bottom: 0;
	font-weight: bold;
}

#artist-info-div ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#artist-info-div li{
	display:inline-block;
	margin: 1% 2%;
}
.sm-pics-div{
	display: inline-block;
	width: 100%;
	height: 2em;
}
.sm-pics-div:hover{
	cursor:pointer;
}
.sm-pics-div img{
	height: 100%;
	width: 100%;
	display: inline-block;
	border-radius: 0.5em;
}
#artist-info-div a{
	color: royalblue;
}
.artist-bold-text{
	font-weight: bold;
	display: block;
}
#artist-info-left-div, #artist-info-right-div{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
#artist-info-left-div{
	text-align: left;
}


.pending{
	font-size: 0.8em;
}