#artist-pic-div{
	width: 40%;
	display: inline-block;
	vertical-align: bottom;
}
#artist-pic-div img{
	display: inline-block;
	width: 100%;
	border-radius: 10%;
}
#artist-info-div{
	width: 59%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
#follow-artist-title{
	margin-bottom: 0;
}
#artist-info-div ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#artist-info-div li{
	display:inline-block;
	margin: 0 1%;
}
#artist-info-div a{
	color: royalblue;
}
.pending{
	font-size: 0.8em;
}